<div class="login">

  <div class="login__container">
    <div class="login__left">
      <span class="login__left--text">
        Log in to your Flash Sales account.
      </span>
    </div>

    <div class="login__right padding-bottom-medium">
      <h2 class="heading-secondary margin-bottom-medium">
        Login
      </h2>

      <form class="form" (ngSubmit)="performLogin(f)" #f="ngForm">
        <div class="row">
          <div class="col-1-of-2">
            <div class="form__group" 
                 [ngClass]="{ 'invalid': email.invalid && (email.dirty || email.touched || f.submitted) }">
              <label for="email" class="form__label">Email</label>
              <input id="email" 
                     name="email" 
                     type="email" 
                     class="form__input" 
                     placeholder="Email"
                     ngModel 
                     required 
                     email
                     #email="ngModel" >
              <div class="form__error">
                Must be a valid email address.
              </div>
            </div>
          </div>

          <div class="col-1-of-2">
            <div class="form__group"
                 [ngClass]="{ 'invalid': password.invalid && (password.dirty || password.touched || f.submitted) }">
              <label for="password" class="form__label">Password</label>
              <input id="password" 
                     name="password" 
                     type="password" 
                     class="form__input" 
                     placeholder="Password"
                     ngModel 
                     required 
                     minlength="8"
                     #password="ngModel" >
              <div class="form__error">
                Must be at least 8 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="form__group margin-top-small margin-bottom-small">
            <button class="btn btn--green btn--fullblock" type="submit">Log In</button>
        </div>
      </form>

      <a class="login__link" [routerLink]="['/register']">Don't have an account?</a>
      <a class="login__link" href="#">Forgot password?</a>
    </div>
  </div>

</div>