<div class="product-details">
  <div class="product-details__top">
    <div class="product-details__top--left">
        <ngx-image-gallery 
          class="product-details__image-gallery"
          [images]="images" 
          [conf]="galleryConf"
        ></ngx-image-gallery>
    </div>
    <div class="product-details__top--right">
      <h1 class="product-details__brand">{{ (productDetails$ | async).brand }}</h1>
      <h2 class="product-details__name">{{ (productDetails$ | async).name }}</h2>

      <div class="product-details__price-info">
        <div class="product-details__retail-price">Retail: R{{ (productDetails$ | async).retailPrice }}</div>
        <div class="product-details__price">R{{ (productDetails$ | async).price }}</div>

        <div class="product-details__shipping-status" *ngIf="(productDetails$ | async).shippingPrice">Excludes shipping</div>
        <div class="product-details__shipping-status" *ngIf="!(productDetails$ | async).shippingPrice">Includes shipping</div>
      </div>

      <app-product-variants *ngIf="(productDetails$ | async).variants" [variantsInput]="(productDetails$ | async).variants"></app-product-variants>
  
      <button class="btn btn--green margin-top-small">I want it!</button>

      <ul class="product-details__tags">
        <li class="product-details__tag" *ngFor="let feature of (productDetails$ | async).features">{{ feature }}</li>
      </ul>

      <ul class="product-details__social">
        <li><a class="product-details__share product-details__share--email" href="#"><fa name="envelope" size="lg"></fa></a></li>
        <li><a class="product-details__share product-details__share--facebook" href="#"><fa name="facebook" size="lg"></fa></a></li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="product-details__bottom">
    <div class="product-details__description" [innerHTML]="(productDetails$ | async).description" ></div>
  </div>
</div>