.padding-small {
    padding: $padding-small !important;
}

.padding-medium {
    padding: $padding-medium !important;
}

.padding-big {
    padding: $padding-big !important;
}

.padding-top-small {
    padding-top: $padding-small !important;
}

.padding-top-medium {
    padding-top: $padding-medium !important;
}

.padding-top-big {
    padding-top: $padding-big !important;
}

.padding-bottom-small {
    padding-bottom: $padding-small !important;
}

.padding-bottom-medium {
    padding-bottom: $padding-medium !important;
}

.padding-bottom-big {
    padding-bottom: $padding-big !important;
}

.margin-tiny {
    margin: $margin-tiny !important;
}

.margin-small {
    margin: $margin-small !important;
}

.margin-medium {
    margin: $margin-medium !important;
}

.margin-big {
    margin: $margin-big !important;
}

.margin-top-small {
    margin-top: $margin-small !important;
}

.margin-top-medium {
    margin-top: $margin-medium !important;
}

.margin-top-big {
    margin-top: $margin-big !important;
}

.margin-bottom-tiny {
    margin-bottom: $margin-tiny !important;
}

.margin-bottom-small {
    margin-bottom: $margin-small !important;
}

.margin-bottom-medium {
    margin-bottom: $margin-medium !important;
}

.margin-bottom-big {
    margin-bottom: $margin-big !important;
}

.margin-right-tiny {
    margin-right: $margin-tiny !important;
}

.margin-right-small {
    margin-right: $margin-small !important;
}

.margin-right-medium {
    margin-right: $margin-medium !important;
}

.margin-right-big {
    margin-right: $margin-big !important;
}

.no-margin {
    margin: 0 !important;
}

.hide-backface {
    backface-visibility: hidden;
}

.show-backface {
    backface-visibility: visible;
}

.table-cell {
    display: table-cell;
}

.divider {
    display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
    
    &::after,
    &::before {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 8px;
    }
}

.hidden {
    display: none !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.text-center {
    text-align: center !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
