.padding-small {
    padding: $padding-small !important;
}

.padding-medium {
    padding: $padding-medium !important;
}

.padding-big {
    padding: $padding-big !important;
}

.padding-top-small {
    padding-top: $padding-small !important;
}

.padding-top-medium {
    padding-top: $padding-medium !important;
}

.padding-top-big {
    padding-top: $padding-big !important;
}

.padding-bottom-small {
    padding-bottom: $padding-small !important;
}

.padding-bottom-medium {
    padding-bottom: $padding-medium !important;
}

.padding-bottom-big {
    padding-bottom: $padding-big !important;
}

.margin-small {
    margin: $margin-small !important;
}

.margin-medium {
    margin: $margin-medium !important;
}

.margin-big {
    margin: $margin-big !important;
}

.margin-top-small {
    margin-top: $margin-small !important;
}

.margin-top-medium {
    margin-top: $margin-medium !important;
}

.margin-top-big {
    margin-top: $margin-big !important;
}

.margin-bottom-small {
    margin-bottom: $margin-small !important;
}

.margin-bottom-medium {
    margin-bottom: $margin-medium !important;
}

.margin-bottom-big {
    margin-bottom: $margin-big !important;
}

.hide-backface {
    backface-visibility: hidden;
}

.show-backface {
    backface-visibility: visible;
}

.table-cell {
    display: table-cell;
}