@import '~sass/abstract/mixins';
@import '~sass/abstract/variables';

$heading-height: 4rem - (2 * $margin-tiny);
$toolbar-height: 3rem;

.shopping-cart {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background: rgba($color-black, 0.8);

    &__container {
        width: 70%;
        height: 95%;
        background: $color-white;
        border-radius: $border-radius;

        @include absCenter;
    }

    &__close {
        color: $color-primary;
        display: inline-block;
        position: absolute;
        top: -.7rem;
        right: -.7rem;
        line-height: 1;
        background: white;
        border-radius: 100px;
        cursor: pointer;

        fa {
            padding: 2px;
        }
    }

    &__title-icon {
        &--left {
            padding-right: 2rem;
        }

        &--right {
            padding-left: 2rem;
        }
    }

    &__not-empty {
        height: calc(100% - #{$heading-height});
    }

    &__empty {
        @include absCenter;
    }

    &__products {
        height: calc(100% - #{$heading-height} - #{$toolbar-height});
        overflow-y: scroll;
    }

    &__toolbar {
        height: 5rem;
    }
}

.heading-secondary {
    height: 4rem;
}