<div class="register">

  <div class="register__container">
    <div class="heading-secondary margin-bottom-medium">
      Register
    </div>

    <form class="form">

      <div class="row">
        <div class="col-1-of-2">
          <div class="form__group">
            <label for="firstname" class="form__label">First Name</label>
            <input id="firstname" name="firstname" type="text" class="form__input" placeholder="First Name">
          </div>
        </div>

        <div class="col-1-of-2">
          <div class="form__group">
            <label for="lastname" class="form__label">Last Name</label>
            <input id="lastname" name="lastname" type="text" class="form__input" placeholder="Last Name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form__group">
          <label for="email" class="form__label">Email</label>
          <input id="email" name="email" type="email" class="form__input" placeholder="Email">
        </div>
      </div>

    </form>

  </div>

</div>