<div class="page-dialog">

  <div class="page-dialog__container">
    <div class="table-cell">
      <h2 class="heading-secondary margin-bottom-small">
        Forgot Password
      </h2>

      <form class="form" [formGroup]="form" (ngSubmit)="onNext()">
        <div class="row">
          <div class="form__group"
               [ngClass]="{ invalid: isInvalid(verificationCode) }">
            <label for="verificationCode" class="form__label">Verification Code</label>
            <input id="verificationCode" 
                  type="text" 
                  class="form__input"
                  placeholder="Verification Code"
                  formControlName="verificationCode">
            <div class="form__error">
              Verification Code is required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form__group"
               [ngClass]="{ invalid: isInvalid(password) }">
            <label for="newPassword" class="form__label">New Password</label>
            <input id="newPassword" 
                   type="password" 
                   class="form__input"
                   placeholder="New Password"
                   formControlName="password" >
            <div class="form__error">
              New Password must be at least 8 characters long.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form__group"
               [ngClass]="{ invalid: isInvalid(confirmPassword) }">
            <label for="confirmPassword" class="form__label">Confirm Password</label>
            <input id="confirmPassword" 
                   type="password" 
                   class="form__input"
                   placeholder="Confirm Password"
                   formControlName="confirmPassword" >
            <div class="form__error">
              Confirm Password must match New Password.
            </div>
          </div>
        </div>

        <div class="form__group margin-top-medium margin-bottom-small">
          <button id="resetPwd" 
                  class="btn btn--green btn--fullblock" 
                  type="submit" >
            Reset Password
          </button>
        </div>
      </form>

      <a class="page-dialog__link" [routerLink]="['/auth', 'forgotPassword']" [queryParams]="{ email: email }">Resend Code</a>
    </div>
  </div>
</div>