<div class="page-dialog">

    <div class="page-dialog__container">
      <div class="table-cell">
        <h2 class="heading-secondary margin-bottom-small">
          Set New Password
        </h2>
  
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form__group"
                 [ngClass]="{ invalid: isInvalid(email) }">
              <label for="email" class="form__label">Email</label>
              <input id="email" 
                    type="email" 
                    class="form__input"
                    placeholder="Email"
                    formControlName="email">
              <div class="form__error">
                Must be a valid email.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form__group"
                 [ngClass]="{ invalid: isInvalid(existingPassword) }">
              <label for="existingPassword" class="form__label">Existing Password</label>
              <input id="existingPassword" 
                     type="password" 
                     class="form__input"
                     placeholder="Existing Password"
                     formControlName="existingPassword" >
              <div class="form__error">
                Existing Password must be at least 8 characters long.
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="form__group"
                 [ngClass]="{ invalid: isInvalid(password) }">
              <label for="newPassword" class="form__label">New Password</label>
              <input id="newPassword" 
                     type="password" 
                     class="form__input"
                     placeholder="New Password"
                     formControlName="password" >
              <div class="form__error">
                New Password must be at least 8 characters long.
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="form__group"
                 [ngClass]="{ invalid: isInvalid(confirmPassword) }">
              <label for="confirmPassword" class="form__label">Confirm Password</label>
              <input id="confirmPassword" 
                     type="password" 
                     class="form__input"
                     placeholder="Confirm Password"
                     formControlName="confirmPassword" >
              <div class="form__error">
                Confirm Password must match New Password.
              </div>
            </div>
          </div>

          <div class="row" *ngIf="errorMessage">
            <span class="error-message"><b>Error: </b>{{ errorMessage }}</span>
          </div>
  
          <div class="form__group margin-top-medium margin-bottom-small">
            <button id="resetPwd" 
                    class="btn btn--green btn--fullblock" 
                    type="submit" >
              Set new password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>