<div class="cart-product">
  <img [src]="product.image" class="cart-product__image" />

  <div class="cart-product__right">
    <div class="cart-product__right--top">
      <div class="cart-product__details">
        <p class="cart-product__details--brand">{{ product.brand }}</p>

        <h3 class="cart-product__details--name">{{ product.name }}</h3>
      </div>

      <p class="cart-product__price">
        {{ stockCount }} x {{ product.price }}R
      </p>
    </div>

    <div class="cart-product__right--bottom">
      <button class="cart-product__remove btn btn--green" (click)="removeProduct()"><fa name="times" size="lg"></fa>&nbsp;&nbsp;Remove</button>
      <button class="cart-product__view btn btn--green" (click)="viewProduct()"><fa name="eye" size="lg"></fa>&nbsp;&nbsp;View</button>
    </div>
  </div>

</div>
