<div class="page-dialog">

  <div class="page-dialog__container padding-bottom-medium">

    <div class="table-cell">
    <h2 class="heading-secondary margin-bottom-small">
      Register
    </h2>

    <button class="btn btn--blue btn--fullblock margin-bottom-small" (click)="loginWithFacebook()"><fa name="facebook-square" size="lg" class="margin-right-tiny"></fa>Register With Facebook</button>

    <div class="divider margin-bottom-small">
        OR
    </div> 

    <form class="form" [formGroup]="registerForm" (ngSubmit)="performRegistration()">
      <div class="row">
        <div class="col-1-of-2">
          <div class="form__group"
               [ngClass]="{ 'invalid': isInvalid(firstname) }">
            <label for="firstname" class="form__label">First Name</label>
            <input id="firstname" 
                   type="text" 
                   class="form__input" 
                   placeholder="First Name"
                   formControlName="firstname">
            <div class="form__error">
              First Name is required.
            </div>
          </div>
        </div>

        <div class="col-1-of-2">
          <div class="form__group"
               [ngClass]="{ 'invalid': isInvalid(lastname) }">
            <label for="lastname" class="form__label">Last Name</label>
            <input id="lastname" 
                   type="text"
                   class="form__input" 
                   placeholder="Last Name"
                   formControlName="lastname">
            <div class="form__error">
              Last Name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1-of-2">
          <div class="form__group"
               [ngClass]="{ 'invalid': isInvalid(password) }">
            <label for="password" class="form__label">Password</label>
            <input id="password" 
                   type="password" 
                   class="form__input" 
                   placeholder="Password"
                   formControlName="password">
            <div class="form__error">
              Must be at least 8 characters long.
            </div>
          </div>
        </div>
        <div class="col-1-of-2">
            <div class="form__group"
                 [ngClass]="{ 'invalid': isInvalid(confirmPassword) }">
              <label for="confirmPassword" class="form__label">Confirm Password</label>
              <input id="confirmPassword" 
                     type="password" 
                     class="form__input" 
                     placeholder="Confirm Password"
                     formControlName="confirmPassword">
              <div class="form__error">
                Must be at least 8 characters long.
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="form__group"
             [ngClass]="{ 'invalid': isInvalid(email) }">
          <label for="email" class="form__label">Email</label>
          <input id="email" 
                type="email" 
                class="form__input" 
                placeholder="Email"
                formControlName="email">
          <div class="form__error">
            Must be a valid email.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form__group margin-bottom-small"
             [ngClass]="{ 'invalid': isInvalid(telephone) }">
          <label for="telephone" class="form__label">Telephone</label>
          <input id="telephone" 
                 type="tel" 
                 class="form__input" 
                 placeholder="Telephone"
                 formControlName="telephone">
          <div class="form__error">
            Must be a valid telephone, eg. +972502123456.
          </div>
        </div>
      </div>

      <div class="row" *ngIf="errorMsg">
        <span class="error-message"><b>Error: </b>{{ errorMsg }}</span>
      </div>
      
      <div class="form__group margin-top-medium">
        <button class="btn btn--green btn--fullblock" type="submit">Register</button>
      </div>
    </form>
    </div>
  </div>

</div>