<div class="page-dialog">

  <div class="page-dialog__container">
    <div class="table-cell">
      <h2 class="heading-secondary margin-bottom-small">
        Forgot Password
      </h2>

      <form class="form" #f="ngForm" (ngSubmit)="onNext(f)">
        <div class="row">
          <div class="form__group"
               [ngClass]="{ 'invalid': emailCntrl.invalid && (emailCntrl.dirty || emailCntrl.touched || f.submitted) }">
            <label for="email" class="form__label">Email</label>
            <input id="email" 
                   type="email" 
                   name="email"
                   class="form__input"
                   placeholder="Email"
                   [(ngModel)]="email"
                   email
                   #emailCntrl="ngModel">
            <div class="form__error">
                Must be a valid email address.
            </div>
          </div>
        </div>

        <div class="row" *ngIf="errorMessage">
          <span class="error-message"><b>Error: </b>{{ errorMessage }}</span>
        </div>

        <div class="form__group margin-top-medium margin-bottom-small">
          <button id="nextPage" 
                  class="btn btn--green btn--fullblock" 
                  type="submit" >
            Next
          </button>
        </div>      
      </form>

      <a class="page-dialog__link" [routerLink]="['/auth', 'register']">Register</a>
      <a class="page-dialog__link" [routerLink]="['/auth', 'login']">Login</a>
    </div>
  </div>
</div>