// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-error: #ff1133;
$color-blue: #4267b2;

// Grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 1rem;

// Dimensions
$default-font-size: .9rem;
$small-font-size: .7rem;
$medium-font-size: .8rem;
$large-font-size: 1rem;
$x-large-font-size: 1.2rem;
$xx-large-font-size: 1.4rem;
$xxx-large-font-size: 1.8rem;

$border-radius: .2rem;

$margin-tiny: .5rem;
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-big: 4rem;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-big: 4rem;