<div class="page-dialog page-dialog-split">

  <div class="page-dialog__container page-dialog-split__container">
    <div class="page-dialog-split__left">
      <span class="page-dialog-split__left--text">
        Log in to your Flash Sales account.
      </span>
    </div>

    <div class="page-dialog-split__right padding-bottom-medium">
      <h2 class="heading-secondary margin-bottom-medium">
        Login
      </h2>

      <div class="row" *ngIf="errorMessage">
        <span class="error-message"><b>Error: </b>{{ errorMessage }}</span>
      </div>

      <button class="btn btn--blue btn--fullblock margin-bottom-small" (click)="facebookLogin()"><fa name="facebook-square" size="lg" class="margin-right-tiny"></fa>Log In With Facebook</button>

      <div class="divider">
          OR
      </div> 

      <form class="form" (ngSubmit)="performLogin(f)" #f="ngForm">
        <div class="row">
          <div class="col-1-of-2">
            <div class="form__group" 
                 [ngClass]="{ 'invalid': email.invalid && (email.dirty || email.touched || f.submitted) }">
              <label for="email" class="form__label">Email</label>
              <input id="email" 
                     name="email" 
                     type="email" 
                     class="form__input" 
                     placeholder="Email"
                     ngModel 
                     required 
                     email
                     #email="ngModel" >
              <div class="form__error">
                Must be a valid email address.
              </div>
            </div>
          </div>

          <div class="col-1-of-2">
            <div class="form__group"
                 [ngClass]="{ 'invalid': password.invalid && (password.dirty || password.touched || f.submitted) }">
              <label for="password" class="form__label">Password</label>
              <input id="password" 
                     name="password" 
                     type="password" 
                     class="form__input" 
                     placeholder="Password"
                     ngModel 
                     required 
                     minlength="8"
                     #password="ngModel" >
              <div class="form__error">
                Must be at least 8 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="form__group margin-top-small margin-bottom-tiny">
            <button class="btn btn--green btn--fullblock" type="submit">Log In</button>
        </div>
      </form>

      <a class="page-dialog__link" [routerLink]="['/auth', 'register']">Don't have an account?</a>
      <a class="page-dialog__link" [routerLink]="['/auth', 'forgotPassword']">Forgot password?</a>
    </div>
  </div>

</div>