<div class="login">

  <div class="login__container">
    <div class="login__left">
      <span class="login__left--text">
        Log in to your Flash Sales account.
      </span>
    </div>

    <div class="login__right padding-bottom-big">
      <div class="heading-secondary margin-bottom-medium">
        Login
      </div>

      <form class="form">
        <div class="row">
          <div class="col-1-of-2">
            <div class="form__group">
              <label for="email" class="form__label">Email</label>
              <input id="email" name="email" type="email" class="form__input" placeholder="Email">
            </div>
          </div>

          <div class="col-1-of-2">
            <div class="form__group col-1-of-2">
              <label for="password" class="form__label">Password</label>
              <input id="password" name="password" type="password" class="form__input" placeholder="Password">
            </div>
          </div>
        </div>

        <div class="form__group margin-top-small">
            <button class="btn btn--green btn--fullblock">Log In</button>
        </div>
      </form>

      <a class="login__link" href="#">Don't have an account?</a>
      <a class="login__link" href="#">Forgot password?</a>
    </div>
  </div>

</div>