@import "~sass/abstract/variables";

.product-section {
    margin-bottom: $margin-medium;
    
    &__title {
        text-align: center;
        padding: .5rem;
        margin: 0 7rem;

        h2 {
            font-weight: 600;
        }

        span {
            background: $color-primary;
            height: .5rem;
            width: 15rem;
            display: inline-block;
            border-radius: 1rem;
            position: relative;
            top: -.5rem;
        }
        
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: rotate(2deg) scale(1.2);
        }
    }

    &__product-wrapper {
        width: 25%;
        display: inline-block;
    }

}